<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<h1>목록 추가하기</h1>
<hr>

<form action="/create" method="POST">
    <table>
        <tr>
            <td><input type="text" name="name" placeholder="이름을 입력하세요."></td>
        </tr>
        <tr>
            <td><input type="text" name="modelnumber" placeholder="모델넘버를 입력하세요."></td>
        </tr>
        <tr>
            <td><input type="text" name="series" placeholder="시리즈를 입력하세요."></td>
        </tr>
    </table>
    <input type="submit" value="전송하기">
</form>

<table>
    <% for(let data of results) { %>
        <tr>
            <td><%= data.name %></td>
            <td><%= data.modelnumber %></td>
            <td><%= data.series %></td>
        </tr>
    <% } %>
</table>

</body>
</html>